# ========== SECRETS AND CONFIGURATION BASE ==========
# Banco de Dados
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq-broker:5672/

# JWT
JWT_SECRET=

# LLM (Google AI Studio - Gemini)
LLM_API_KEY=

# New Relic (APM)
NEW_RELIC_LICENSE_KEY=
